.employee {
  width: 350px;
  height: auto;
  background-color: #f9f9f9;
  float: left;
  margin: 10px 15px 15px 10px;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  position: relative;
}

.bottom {
  flex-grow: 1;
  padding: 20px 25px;
  text-align: center;
}
.name {
  font-weight: bold;
  font-size: 20px;
}


button {
  background: #02b3e4;
  margin-left: 8px;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}
