.employee {
  background: #fff;
  width: 60%;
}
button {
  background: #e40202;
  padding: 0.625rem;
  text-align: center;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  border-radius: 0.25rem;
  border: black;
  font-size: 1.25rem;
  vertical-align: middle;
  margin: 0.3125rem;
}
table {
  border: 0.0625rem solid black;
  table-layout: fixed;
  width: 50rem;
}

td,
th {
  border: solid  0.0625rem black;
  vertical-align: bottom;
  height: 1.875rem;
  text-align: center;
  vertical-align: middle;
}
.error{
  color: red;
  font-size: 1.5rem;
}
